server:
  port: 8080
management:
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"


spring:
  main:
    banner-mode: "off"
