replicaCount: 2


image:
  repository: "<account-id>.dkr.ecr.<region>.amazonaws.com/myservice"
  tag: "0.0.1-native"
  pullPolicy: IfNotPresent


service:
  type: ClusterIP
  port: 80


resources:
  limits:
    memory: 256Mi
  requests:
    cpu: 250m
    memory: 128Mi


metrics:
  enabled: true
